
.barre-plus {
  background: #96CE5E;
  .plus {
    background: #59B200;
    padding: 0 7px;
    font-size: 20px;
  }
  .text {
    margin: 10px;
  }
}

.barre-moins {
  background: #EA7373;
  .moins {
    background: #D90000;
    padding: 0 9px;
    font-size: 20px;
  }
  .text {
    margin: 10px;
  }
}
