.flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-bottom-100px {
  margin-bottom: 100px;
}

.margin-bottom-50px {
  margin-bottom: 50px;
}

.margin-top-70px {
  margin-top: 70px;
}

position-relative {
  position: relative;
}

position-absolute {
  position: absolute;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.yellow {
  background-color: $yellow !important;
  color: $light-blue !important;
  &hover {
    // background-color: green !important;
  }
}
