.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.descriptif {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.skilled {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.love {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.localisation {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.fear {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.repetition {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.career {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

// .jenifer {
//   grid-column: 2 / span 1;
//   grid-row: 3 / span 1;
// }

.card {
  background: rgba(10,10,10,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 5px 20px;
  // margin: 10px;
  display: inline;
  align-items: center;
  justify-content: space-around;
  color: white;
  .title {
    font-size: 21px;
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
  }
}
