.text-area {
  padding: 20px 0;
  width: 600px;
  margin: 10vh auto;
  background-color: $white;
  position: relative;
}

#target-hover:hover {
  p {
    opacity: 1;
    transition: 1.5s;
  }
  .emojis {
    opacity: 0;
    transition: 1.5s;
  }
}

.lyrics {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
  p {
    color: black;
    opacity: 0;
    // background-color: red;
    position: absolute;
    top: 0px;
    margin: 0 15px 0 0;
    // &:hover {
    //   opacity: 1;
    //   transition: 1.5s;
    // }
  }
}

.emojis {
  // background-color: green;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  // top: 100px;
  // &:hover {
  //   opacity: 0;
  //   transition: 1.5s;
  // }
}

.emoji {
  width: 50px;
  margin: 5px;
  &:hover {
    // width: 100px;
  }
}
