#home {
  // background-color: #D23333;
  background-image: linear-gradient(rgba(20, 2, 2, 0.6), rgba(20, 2, 2, 0.5)),
         url('../images/joyeux-noel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}
