#jenifer {
  // right: 40px;
  // top: 20px;
  // &:hover {
  //   display: none;
  // }
}

.circle {
  width: 200px;
  height: 200px;
  float: left;
  margin: 10px;
  padding: 0;
  position: relative;
  background: #cccccc;
  border-radius: 50%;
  overflow: hidden;
  .header {
    width: 200px;
    height: 100px;
    top: -100px;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 100px 100px 0 0;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    h3 {
      font-size: 20px;
      text-align: center;
      margin: 40px 20px 0 20px;
      padding-bottom: 5px;
      border-bottom: 3px double #000000;
    }
  }
  .text {
    width: 200px;
    height: 100px;
    top: 200px;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 0 0 100px 100px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    p {
      margin: 10px;
      text-align: center;
    }
  }
  &:hover {
    .text {
      top: 100px;
      -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
      box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
    }
    .header {
      top: 0;
      -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
      box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
    }
  }
}
