// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$light-blue: #70a1ff;
$normal-blue: #1e90ff;
$marine-blue: #0D1131;
$dark-blue: #2f3542;
$yellow: #f1c40f;
$orange: #E67E22;
$dark-green: #2ed573;
$light-green: #7bed9f;
$green: #32B796;
$gray: #ced6e0;
$light-gray: #F4F4F4;
$white: #ffffff;
