---
title: Happy Birthday
---

<div class="container">
  <div class="text-area bc-color-dark">
    <h2 class="enigma">6 mois</h2>
    <div class="row margin-top-70px">
      <div class="col-xs-12">
        <p class="enigma">J'ai 2 bras et 2 jambes mais je marche à 4 pattes,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Certains me disent carnivore, d'autres végétarien,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Tu me préfères grand, mais je peux être petit également,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Plus que ton chéri, plus que Jen, plus que Nioki,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Tu désires me posséder mais tu n'en as pas le droit,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">C'est pourquoi si tu le veux, me voir tu viendras,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Pendant une journée, tu t'occuperas de moi et de tous mes amis,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Petits comme grands, tu ne feras pas de discrimination,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Et c'est seulement à la fin de cette journée,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="enigma">Que tu auras le droit de venir me cajoler.</p>
      </div>
    </div>
  </div>
</div>

<div class="flexbox-center">
  <div class="centerer">
    <%= link_to "Audelyne", "index.html", class: "btn-primary button-months" %>
  </div>
  <div class="centerer">
    <%= link_to "Joyeux noël", "christmas.html", class: "button" %>
  </div>
</div>