---
title: Joyeux Noël
---

<div id="home">
  <div class="home-content">
    <%= image_tag "Audy.jpg", width: "200", class: "img-circle" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
