---
title: Joyeux Noël
---

<div id="home">
  <div class="home-content">
    <div class="circle">
      <!-- <img src="images/Jenifer" alt=""> -->
      <%= image_tag "Audy.jpg", width: "200", class: "img-circle" %>
      <div class="astrology astrology-top">
        <p>
          Signe astrologique : Princesse
        </p>
      </div>
      <div class="astrology astrology-down">
        <p>
          Ascendant Goudou
        </p>
      </div>
    </div>
    <br>
    <h3>Audelyne Rubio</h3>
    <br>
    <div class="bg">
      <div class="centerer">
        <%= link_to "Joyeux noël", "main.html", class: "button" %>
      </div>
    </div>
    <!-- <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p> -->
  </div>
</div>
