---
title: Joyeux Noël
---

<div id="home">
  <div class="home-content">
    <%= image_tag "Audy.jpg", width: "150", class: "img-circle" %>
    <p>
      Audelyne Rubio
    </p>
    <p>
      Princesse, ascendant goudou
    </p>
    <br>
    <div class="bg">
      <div class="centerer">
        <%= link_to "Plus d'infos sur Audy", "main.html", class: "button" %>
      </div>
    </div>
    <!-- <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p> -->
  </div>
</div>
