---
title: petite Audy
---
<div class="running-santa">
  <div id="road">
  </div>
  <div id="moon">
  </div>

  <p>
    Home page d’explication : je sais que Noël c’est important pour toi, alors je me suis permis de te faire un petit récap de toi 

  Localisation : le temple du 0 déchets

  Signe astrologique :
  -	Princesse, ascendant goudou

  Descriptif :
  Audelyne Rubio, j’aime l’Italie, l’italien et les italiens. Je vois des tensions sexuelles partout. Pour moi, un prénom sans « y » n’a pas lieu d’être. Féministe engagée, sauf dans ses lectures médiévales, je suis prête à tout accepter, sauf les pédophiles.

  Phrases que je prononce RECUREMMENT :
  -	"Je ne sais pas"
  -	"Je ne mens jamais"
  -	"Non mais ça se voit lui il est gay"
  -	"Il faut qu’il aille consulter"
  -	"J’ai froid"



  Par dessus tout :
  -	J’aime : les poupougnous, le RSA, Friends, Jenifer Aniston, Jenifer tout court, mon mac, le mot DU COUP, le mot BREF, le théâtre, et les poupougnouuuuus
  -	Je déteste : les gens qui ne m’écoutent pas, les gens 0 déchêts, les gens qui font des fautes de français, les gens qui râlent, les gens trop heureux dans leur vie… bref les gens quoi !
  -	les courses trop lourdes, le violet.

  Mon pire cauchemar :
  Perdre mes sauvegardes d’ordinateur

  Special skills :
  80% mythoman
  90% corrige tes fautes de français
  100% bonnasse

  Fan de Jenifer assumée
  Mentions : Jenifer a dit un jour "sans Audelyne, ma carrière ne serait pas. Un gros bisous à ma plus grande fan".

  Carrières alternatives :
  -	Psychologue sociale
  -	Humanitaire : mère Theresa du monde entier
  </p>


  <div id="path">
     <div id="santa"></div>
  </div>
  <div id="snow">
  </div>
</div>
