---
title: petite Audy
---
<div class="running-santa">
  <div id="road">
  </div>
  <div id="moon">
  </div>

  <div class="container">
    <div class="grid">
      <div class="circle jenifer">
        <!-- <img src="images/Jenifer" alt=""> -->
        <%= image_tag "Jenifer.jpg", width: "200", class: "img-circle", id: "jenifer" %>
        <div class="quote">
          <p>
            "A Audelyne, ma seule fan restante."
          </p>
        </div>
        <div class="signature">
          <h3>Jenifer</h3>
        </div>
      </div>


        Home page d’explication : je sais que Noël c’est important pour toi, alors je me suis permis de te faire un petit récap de toi 
      <div class="localisation card">
        <h3 class="title">
          Localisation
        </h3>
        <p>le temple du 0 déchets</p>
      </div>
      <div class="descriptif card">
        <h3 class="title">
          Descriptif
        </h3>
        <p>
        Audelyne Rubio, j’aime l’Italie, l’italien et les italiens. Je vois des tensions sexuelles partout. Pour moi, un prénom sans « y » n’a pas lieu d’être. Féministe engagée, sauf dans ses lectures médiévales, je suis prête à tout accepter, sauf les pédophiles.
        </p>
      </div>

      <div class="repetition card">
        <h3 class="title">
          Phrases que je prononce RECUREMMENT
        </h3>
        <ul>
          <li><p>"Je ne sais pas"</p></li>
          <li><p>"Je ne mens jamais"</p></li>
          <li><p>"Non mais ça se voit lui il est gay"</p></li>
          <li><p>"Il faut qu’il aille consulter"</p></li>
          <li><p>"J’ai froid"</p></li>
        </ul>
      </div>

      <div class="love card">
        <h3 class="title">
          Par dessus tout
        </h3>
        <p>
          -	J’aime : les poupougnous, le RSA, Friends, Jenifer Aniston, Jenifer tout court, mon mac, le mot DU COUP, le mot BREF, le théâtre, et les poupougnouuuuus
          -	Je déteste : les gens qui ne m’écoutent pas, les gens 0 déchêts, les gens qui font des fautes de français, les gens qui râlent, les gens trop heureux dans leur vie… bref les gens quoi !
          -	les courses trop lourdes, le violet.
        </p>
      </div>

      <div class="fear card">
        <h3 class="title">
          Mon pire cauchemar ?
        </h3>
        <p>
          Perdre mes sauvegardes d’ordinateur
        </p>
      </div>

      <div class="skilled card">
        <h3 class="title">
          Special skills
        </h3>
        <ul class="skills">
          <li class="skill" aria-label="novice"><p>20% Distribue les poupougnous</p></li>
          <li class="skill" aria-label="average"><p>50% Mytho</p></li>
          <li class="skill" aria-label="advanced"><p>80% Corrige tes fautes d'orthographe</p></li>
          <li class="skill" aria-label="pro"><p>100% Bonnasse</p></li>
        </ul>
      </div>

      <div class="career card">
        <h3 class="title">
          Carrières alternatives
        </h3>
        <ul>
          <li><p>Psychologue sociale</p></li>
          <li><p>Humanitaire : mère Theresa du monde entier</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="path">
     <div id="santa"></div>
  </div>
  <!-- <div id="snow">
  </div> -->
</div>

<!-- <div class="skilled card">
  <h3 class="title">
    Special skills
  </h3>
  <ul class="skills">
    <li class="skill" aria-label="advanced"><p>80% Mythomanie</li>
    <li class="skill" aria-label="novice"><p>90% Correctrice de fautes</p></li>
    <li class="skill" aria-label="pro"><p>100% Bonnasse</p></li>
    <li class="skill" aria-label="average"><p>Attractiveness</p></li>
    <li class="skill" aria-label="l33tasuar"><p>Making skills bars with SASS</p></li>
  </ul>
    80% mythoman
    90% corrige tes fautes de français
    100% bonnasse
</div> -->
