---
title: petite Audy
---
<div class="running-santa">
  <div id="road">
  </div>
  <div id="moon">
  </div>

  <div class="container">

    <div class="circle">
      <!-- <img src="images/Jenifer" alt=""> -->
      <%= image_tag "Jenifer.jpg", width: "200", class: "img-circle", id: "jenifer" %>
      <div class="quote">
        <p>
          "A Audelyne, ma seule fan restante."
        </p>
      </div>
      <div class="signature">
        <h3>Jenifer</h3>
      </div>
    </div>


      Home page d’explication : je sais que Noël c’est important pour toi, alors je me suis permis de te faire un petit récap de toi 

    Localisation : le temple du 0 déchets

    <p>
    Descriptif :
    Audelyne Rubio, j’aime l’Italie, l’italien et les italiens. Je vois des tensions sexuelles partout. Pour moi, un prénom sans « y » n’a pas lieu d’être. Féministe engagée, sauf dans ses lectures médiévales, je suis prête à tout accepter, sauf les pédophiles.
    </p>

    <ul>Phrases que je prononce RECUREMMENT :
      <li>"Je ne sais pas"</li>
      <li>"Je ne mens jamais"</li>
      <li>"Non mais ça se voit lui il est gay"</li>
      <li>"Il faut qu’il aille consulter"</li>
      <li>"J’ai froid"</li>
    </ul>

    Par dessus tout :
    -	J’aime : les poupougnous, le RSA, Friends, Jenifer Aniston, Jenifer tout court, mon mac, le mot DU COUP, le mot BREF, le théâtre, et les poupougnouuuuus
    -	Je déteste : les gens qui ne m’écoutent pas, les gens 0 déchêts, les gens qui font des fautes de français, les gens qui râlent, les gens trop heureux dans leur vie… bref les gens quoi !
    -	les courses trop lourdes, le violet.

    <p>
      Mon pire cauchemar ? Perdre mes sauvegardes d’ordinateur
    </p>

    Special skills :
    80% mythoman
    90% corrige tes fautes de français
    100% bonnasse

    Carrières alternatives :
    -	Psychologue sociale
    -	Humanitaire : mère Theresa du monde entier

  </div>

  <div id="path">
     <div id="santa"></div>
  </div>
  <!-- <div id="snow">
  </div> -->
</div>
